{% extends "base.html" %}
{% load static %}
{% block content %}

    <!--about website-->
    <div class="container">
            <h2 class="uk-text-center uk-margin-small-top" style="font-size: 3.2rem;"> حول   <span>الموقع </span></h2>
        <h4 class="uk-text-right uk-padding-large uk-margin-large-top">
          تم عمل هذا الموقع لمساعده طلاب تخصص علوم الحاسوب وتكنولوجيا المعلومات بكافه اقسامه وبالاخص قسم الحاسبات لتسهيل عمليه البحث عن المصادر وكورسات للمناهج وايضا ارشادهم نحو التعلم الصحيح لمفاهيم البرمجه وعلم الحاسوب وانشاء جيل مواكب للتطورات الحاصله في تكنولوجيا العالم 
        </h4> 
    </div>


    <!--Team CV-->
    <div class="uk-text-center container">
        <h2> نبذه عن فريق العمل</h2> 
        <hr class="uk-divider-icon" style="color: black;">
        <br>
    </div>

    <!-- Omar CV-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card mb-3 container" style="max-width: 540px;">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{% static 'img/omar.jpg'%}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Omar Mohammed Omar</h5>
                                <p class="card-text">I have a mix of experience in Web Development and Desktop application, and some experience in Web Design. 3 years experience in Programming</p>
                                <p class="card-text"><small class="text-muted">Contact Me</small></p>
                                <a href="#"><i class="fab fa-telegram-plane fa-2x" style="margin-right:15px;"></i></a>
                                <a href="#"><i class="fas fa-envelope-square fa-2x" style="margin-right:15px;"></i></a>
                                <a href="#"><i class="fab fa-youtube fa-2x" style="margin-right:15px;"></i></a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="card mb-3 container" style="max-width: 540px;">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{% static 'img/saleh.jpg'%}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Omar Mohammed Omar</h5>
                                <p class="card-text">I have a mix of experience in Web Development and Desktop application, and some experience in Web Design. 3 years experience in Programming</p>
                                <p class="card-text"><small class="text-muted">Contact Me</small></p>
                                <a href="#"><i class="fab fa-telegram-plane fa-2x" style="margin-right:15px;"></i></a>
                                <a href="#"><i class="fas fa-envelope-square fa-2x" style="margin-right:15px;"></i></a>
                                <a href="#"><i class="fab fa-youtube fa-2x" style="margin-right:15px;"></i></a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="card mb-3 container" style="max-width: 540px;">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{% static 'img/walid.jpg'%}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Omar Mohammed Omar</h5>
                                <p class="card-text">I have a mix of experience in Web Development and Desktop application, and some experience in Web Design. 3 years experience in Programming</p>
                                <p class="card-text"><small class="text-muted">Contact Me</small></p>
                                <a href="#"><i class="fab fa-telegram-plane fa-2x" style="margin-right:15px;"></i></a>
                                <a href="#"><i class="fas fa-envelope-square fa-2x" style="margin-right:15px;"></i></a>
                                <a href="#"><i class="fab fa-youtube fa-2x" style="margin-right:15px;"></i></a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    




{% endblock content %}